@media(max-width: 1150px){
  .footer__inner{
    flex-wrap: wrap;

  }
  .footer__col-adress{
    min-width: 100%;
    margin-bottom: 30px;
  }
  .header__text{
    display: none;
  }
}
@media(max-width: 900px){
  .footer__col-social{
    min-width: 100%;
    margin-top: 30px;
  }
  .footer__inner{
    justify-content: flex-start;
  }
  .footer__col-menu{
    &+&{
      margin-left: 40px;
    }
  }
}
@media (max-width: 840px){  
  .menu__list{
    display: none;    
    position: absolute;
    background-color: $bg;
    top: 150px;
    left: 0;
    right: 0;
    z-index: 5;
    text-align: center;
    padding-bottom: 30px;
    a{
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid #fff;
    }
    li{
      display: block;
      & + li{
        margin-left: 0;
      }
      &:first-child{
        border-top: 1px solid #fff;
      }
    }
  }
  .menu__btn{
    display: block;
    width: 30px;
    cursor: pointer;
    div{
      background-color: #fff;
      height: 3px;
      & + div{
        margin-top: 5px;
      }

    }
  }
}
@media(max-width: 670px){
  .notification__box,
  .message__box{
    display: none;
  }
  .circle__menu{
    right: auto;
  }
}

@media(max-width: 580px){
  .footer__col{
    width: 100%;
  }
  .footer__col-menu{
    &+&{
      margin-left: 0;
      margin-top: 30px;
    }
  }
}
@media(max-width: 520px){
.header{
  position: relative;
}
.menu__list{
  top: 70px;
}
.header__btn-menu{
  display: block;
  width: 70px;
  height: 70px;
  background-color: $bg;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  &::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: #fff;
    }
  }
  .header__box{
    transition: all .5s;    
    position: absolute;
    background-color: #fff;
    height: 70px;
    left: 100%;
    right: -100%;
    z-index: 2;
    &.active{
      left: 70px;
      right: 50px;
    }
  }
  .header__logo{
    margin-left: 60px;
  }
  .user__menu{
    top: 59px;
  }
  .menu__btn{
    position: absolute;
    top: 24px;
    div{
      background-color: $bg;
    }
  }
  .header__top-inner{
    height: 70px;
  }
  .circle__menu{
    top: 52px;
  }
}
@media (max-width: 495px){
  .user__info{
    display: none;
  }
  .menu__images{
    margin-right: 0;
  }
}
@media (max-width: 390px){
  .header__box{
    &.active{
      left: 47px;
    }
  }
  .basket__box{
    margin-left: 0;
  }
}
@media (max-width: 360px){
  .user {
    margin-right: 0px;
  }
  .basket{
    margin-right: 10px;
  }
  .circle__menu{
    left: -20px;
  }
}
@media (min-width: 841px){  
  .menu__list{
    display: block !important;
  }
}
